<%= content_for :benefits_modal do %>
<!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){
    var url = $("#HowItWorksBottom").attr('src');
    
    $("#myModalHowItWorksBottom").on('hide.bs.modal', function(){
        $("#HowItWorksBottom").attr('src', '');
    });
    
    $("#myModalHowItWorksBottom").on('show.bs.modal', function(){
        $("#HowItWorksBottom").attr('src', url);
    });
});
</script>
-->

<% end %>

<%= content_for :index_body do %>id="home" class="homepage"<% end %>

<section id="top-benefits-mid1">    
    <div class="container-fluid">
        <div class="row box">
            <div class="col-sm-6 col-md-5 col-lg-4">
                <div class="row">
                    <div class="col-lg-2"></div> 
                    <div class="col-sm-12 col-md-12 col-lg-10 pad-top10">

                        <div class="dropdown">
                            <div class="hidden-xs">
                    <%= link_to("<img src='/assets/plus.png' class='mar-top-m9'><h1 class='color-white in-block'><strong>EMPOWERING</strong><br>OFFICE<br>MANAGERS</h1>".html_safe, top_benefits_connecting_path,"data-toggle" => "dropdown", method: :get) %>
                            </div>
                            <div class="hidden-sm hidden-md hidden-lg">
                    <%= link_to("<img src='/assets/plus-r.png' class='mar-top-m9'><h1 class='color-white in-block'><strong>EMPOWERING</strong><br><span>OFFICE<br>MANAGERS</span></h1>".html_safe, top_benefits_connecting_path,"data-toggle" => "dropdown", method: :get) %>
                            </div>
                    <ul class="dropdown-menu hidden-xs" aria-labelledby="dLabel">
                        <div class="col-sm-12 my-block">
                            <div class="row">
                     <h3 class="font-AmsiProR bk-color-gray-white">Fostering caring<br>relationships</h3>
                            </div>
                        </div>
                    </ul>
                        </div>

                    </div>
                </div>
            </div> 

            <!-- <div class="col-sm-6 col-md-7 col-lg-8" id="mid1-img1"> 
            </div> -->
        </div>
    </div>
</section>

<section id="top-benefits-mid2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-7 vr-r box" id="revenue">
                <div class="row" id="mid2-img1">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10 in-block z1">
                        <div class="dropdown">
                    <div class="hidden-xs">
                    <%= link_to("<img src='/assets/plus.png' class='mar-top-m9'><h1 class='color-white in-block text-left'><strong>GROWING</strong><br>YOUR<br>BUSINESS</h1>".html_safe, top_benefits_growing_path,"data-toggle" => "dropdown", method: :get) %>
                    </div>
                    <div class="hidden-sm hidden-md hidden-lg">
                    <%= link_to("<img src='/assets/plus-r.png' class='mar-top-m9'><h1 class='color-white in-block text-left'><strong>GROWING</strong><br><span>YOUR<br>BUSINESS</span></h1>".html_safe, top_benefits_growing_path,"data-toggle" => "dropdown", method: :get) %>
                    </div>

                            <div class="dropup hidden-xs">
                                <ul class="dropdown-menu" aria-labelledby="dLabel">
                                    <div class="col-sm-12 my-block">
                                        <div class="row">
                                <h3 class="font-AmsiProR bk-color-gray-white">Increasing<br>referrals &amp; revenue</h3>
                                        </div>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
  
                    <!-- <div id="revenue">
                        <div class="col-sm-6 in-block pull-right my-block">
                            <div class="row">
                    <h3 class="font-AmsiProR bk-color-blue-green">Increasing referrals &amp; revenue</h3>
                            </div>
                        </div>
                    </div> -->
                </div>
                <!-- <div class="row">
                    <div id="mid2-img1">
                    </div>
                </div> -->
            </div>     
            <div class="col-sm-5 box" id="appreciated">                
                <div class="row" id="mid2-img2">
                    <div class="col-sm-12 in-block z1">
                        <div class="dropdown">
                        <!-- <a href="/your-patients" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/plus.png" class="mar-top-m9">
                    <h1 class="color-white in-block text-left"><strong>REWARDING</strong><br>AMAZING<br>PATIENTS</h1></a> -->
                    <div class="hidden-xs">
                    <%= link_to("<img src='/assets/plus.png' class='mar-top-m9'><h1 class='color-white in-block text-left'><strong>REWARDING</strong><br>AMAZING<br>CUSTOMERS</h1>".html_safe, top_benefits_rewarding_path,"data-toggle" => "dropdown", method: :get) %>
                    </div>
                    <div class="hidden-sm hidden-md hidden-lg">
                    <%= link_to("<img src='/assets/plus-r.png' class='mar-top-m9'><h1 class='color-white in-block text-left'><strong>REWARDING</strong><br><span>AMAZING<br>CUSTOMERS</span></h1>".html_safe, top_benefits_rewarding_path,"data-toggle" => "dropdown", method: :get) %>
                    </div>
                            <div class="dropup hidden-xs">
                            <ul class="dropdown-menu" aria-labelledby="dLabel">
                                <div class="col-sm-12 my-block">
                                    <div class="row">
                           <h3 class="font-AmsiProR bk-color-green-white">Feeling<br>Appreciated</h3>
                                    </div>
                                </div>
                            </ul>
                            </div>
                        </div>
                    </div>                    
                </div>
                <!-- <div class="row">
                    <div id="mid2-img2"></div>
                </div> -->
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container hidden">
        <div class="row">
            <div class="col-sm-12 text-center btn-mar btn-pad">
                <button type="button" class="btn-pink" href="#myModal1" data-toggle="modal">"HOW IT WORKS"<br>VIDEO</button>
                <button type="button" class="btn-blue">PURCHASE<br>APPRECIADO</button>                
            </div>
        </div>
    </div>    
</section>

<!-- Modal HOW IT WORKS -->
<div class="modal-sky">
    <div class="modal" id="myModal1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close fa-4x" data-dismiss="modal" aria-hidden="true">×</button>
              <div class="col-sm-4">
                <h1>TELL US ABOUT YOU<br>YOUR PRACTICE</h1>
              </div>
              <div class="col-sm-4">
                <h1 class="modal-title text-center">STEP 1 OF 3</h1>
              </div>
            </div><div class="container"></div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="text-right col-md-4 pad-top1"><h4>TITLE:</h4></div>
                        <div class="col-md-6 text-left">
                            <div class="row">
                           <label class="checkbox-inline">
                              <h4>DOCTOR <input type="radio" name="optionRadiosinline" id="optionRadios1" 
                                 value="DOCTOR" checked></h4>
                           </label>
                           <label class="checkbox-inline">
                              <h4>ASSISTANT <input type="radio" name="optionRadiosinline" id="optionRadios2" 
                                 value="ASSISTANT"> </h4>
                           </label>
                           </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-right col-md-4"><h4>FIRST NAME:</h4></div>
                        <div class="col-md-6">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-right col-md-4"><h4>LAST NAME:</h4></div>
                        <div class="col-md-6">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-right col-md-4"><h4>OFFICE NUMBER:</h4></div>
                        <div class="col-md-6">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-right col-md-4"><h4>EMAIL:</h4></div>
                        <div class="col-md-6">
                            <input type="email" class="form-control">
                        </div>
                    </div>                        
                    <div class="form-group">
                        <div class="text-right col-md-4"><h4>WHY ARE<br>YOU HERE?</h4></div>
                        <div class="col-md-6">
                            <textarea class="form-control" rows="5"></textarea>
                        </div>
                    </div>                        
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-7 text-center pad-top1">
                            <!-- <button type="submit" class="btn-white" data-toggle="modal" data-target="#myModal2"><span>CONTINUE</span></button> -->
                                <a id="first_link" data-toggle="modal" href="#myModal2" class="btn-white">CONTINUE</a>
                        </div>
                    </div>
                </form>

            </div>
            
          </div>
        </div>
    </div>
    <div class="modal" id="myModal2" data-backdrop="static">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close fa-4x" data-dismiss="modal" aria-hidden="true">×</button>
              <div class="col-sm-4">
                <h1>JUST A FEW<br>MORE QUESTIONS</h1>
              </div>
              <div class="col-sm-4">
                <h1 class="modal-title text-center">STEP 2 OF 3</h1>
              </div>                              
            </div><div class="container"></div>
            <div class="modal-body">
                <form class="form-horizontal">                                    
                    <div class="form-group">
                        <div class="text-right col-md-4"><h4>NAME OF OFFICE </h4></div>
                        <div class="col-md-6">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-right col-md-4"><h4># OF DOCTORS</h4></div>
                        <div class="col-md-6">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-right col-md-4"><h4># OF STAFF</h4></div>
                        <div class="col-md-6">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-right col-md-4"><h4>CURRENT PMS</h4></div>
                        <div class="col-md-6">
                            <input type="email" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-right col-md-4"><h4>TYPE OF PRACTICE</h4></div>
                        <div class="col-md-6">
                            <input type="email" class="form-control">
                        </div>
                    </div>                        
                                            
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-7 text-center pad-top1">
                            <!-- <button type="submit" class="btn-white" data-toggle="modal" data-target="#myModal2"><span>CONTINUE</span></button> -->
                                <a id="second_link" data-toggle="modal" href="#myModal3" class="btn-white">CONTINUE</a>
                        </div>
                    </div>
                </form>
            </div>
            
          </div>
        </div>
    </div>

    <div class="modal" id="myModal3" data-backdrop="static">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close fa-4x" data-dismiss="modal" aria-hidden="true">×</button>
              <h1 class="modal-title text-center">STEP 3 OF 3</h1>
            </div><div class="container"></div>
            <div class="modal-body text-center">
                <form class="form-horizontal">                                    
                    <div class="form-group">
                        <iframe id="MiteGiuffre" width="560" height="315" src="https://www.youtube.com/embed/Nci9e1lHtwY" frameborder="0" allowfullscreen></iframe>
                    </div>                    
                    <div class="form-group">
                        <div class="col-md-12 text-center pad-top1">
                            <button type="submit" class="btn-white"><span>PURCHASE</span></button>
                            <button type="submit" class="btn-white"><span>HAVE QUESTIONS?</span></button>
                        </div>
                    </div>
                </form>
            </div>                            
          </div>
        </div>
    </div>

</div>



<!-- How It Works Video Bottom -->
<!--<div class="text-center modal-sky pad-top2 pad-bot1">
    <div class="bs-example">                         
        <div id="myModalHowItWorksBottom" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close fa-4x" data-dismiss="modal" aria-hidden="true">×</button>
                        <h2 class="modal-title">How It Works</h2>
                    </div>
                    <div class="modal-body">
                        <iframe id="MiteGiuffre" width="560" height="315" src="https://www.youtube.com/embed/Nci9e1lHtwY" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<%= content_for :modal_js do %>
<script type="text/javascript">
$('#first_link').click(function(){
    $('#myModal1').modal('hide');
});
</script>

<script type="text/javascript">
$('#second_link').click(function(){
    $('#myModal2').modal('hide');
});
</script>
<% end %>